@font-face {
	font-family: "iconfont";
	src: url("iconfontd4b285e1bb.woff") format("woff"), url("iconfont941e52aa3a.ttf") format("truetype"), url("iconfontd9d6bfae44.svg#iconfont") format("svg");
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
}
.icf-jishiqi::before {
	content: "";
}
.icf-user::before {
	content: "";
}
.icf-arrow-right::before {
	content: "";
}
.icf-change::before {
	content: "";
}
.icf-qq::before {
	content: "";
}
.icf-male::before {
	content: "";
}
.icf-sales::before {
	content: "";
}
.icf-disanfang::before {
	content: "";
}
.icf-gift::before {
	content: "";
}
.icf-erweima::before {
	content: "";
}
.icf-brand::before {
	content: "";
}
.icf-shop::before {
	content: "";
}
.icf-time::before {
	content: "";
}
.icf-pay::before {
	content: "";
}
.icf-scan::before {
	content: "";
}
.icf-path::before {
	content: "";
}
.icf-gengduo::before {
	content: "";
}
.icf-like::before {
	content: "";
}
.icf-area::before {
	content: "";
}
.icf-weibo::before {
	content: "";
}
.icf-addr::before {
	content: "";
}
.icf-msgwu::before {
	content: "";
}
.icf-add::before {
	content: "";
}
.icf-checked::before {
	content: "";
}
.icf-home::before {
	content: "";
}
.icf-add1::before {
	content: "";
}
.icf-iphoneduanxin::before {
	content: "";
}
.icf-repair::before {
	content: "";
}
.icf-share::before {
	content: "";
}
.icf-calendar::before {
	content: "";
}
.icf-star::before {
	content: "";
}
.icf-weixin::before {
	content: "";
}
.icf-message::before {
	content: "";
}
.icf-edit::before {
	content: "";
}
.icf-mianfeibaojia::before {
	content: "";
}
.icf-xie::before {
	content: "";
}
.icf-cameraadd::before {
	content: "";
}
.icf-shield::before {
	content: "";
}
.icf-change1::before {
	content: "";
}
.icf-pengyouquan::before {
	content: "";
}
.icf-sad::before {
	content: "";
}
.icf-tel::before {
	content: "";
}
.icf-gift1::before {
	content: "";
}
.icf-radio-active::before {
	content: "";
}
.icf-info::before {
	content: "";
}
.icf-female::before {
	content: "";
}
.icf-radio::before {
	content: "";
}
.icf-location::before {
	content: "";
}
.icf-zhanghaobangding::before {
	content: "";
}
.icf-huodongicon::before {
	content: "";
}
.icf-filter::before {
	content: "";
}
.icf-coupon::before {
	content: "";
}
.icf-complete::before {
	content: "";
}
.icf-haoyouyaoqing::before {
	content: "";
}
.icf-duihaodaidi::before {
	content: "";
}
.icf-map::before {
	content: "";
}
.icf-daohang::before {
	content: "";
}
.icf-right::before {
	content: "";
}
.icf-left::before {
	content: "";
}
.icf-xphoto::before {
	content: "";
}
.icf-add2::before {
	content: "";
}
.icf-close::before {
	content: "";
}
.font-s,
.font {
	font-size: 13px;
}
.font-xs {
	font-size: 12px;
}
@media (min-device-width: 375px) {
	.font-s {
		font-size: 0.13rem;
	}
	.font-xs {
		font-size: 0.12rem;
	}
	.font {
		font-size: 0.14rem;
	}
}
.txt-sales {
	border: 1px solid #ff7d13;
	border-radius: 3px;
	color: #ff7d13;
	display: inline-block;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	width: 16px;
}
.icf-info {
	color: #07cdd0;
}
.pub-tips {
	background-color: #fff9e5;
	color: #ff7d13;
	font-size: 13px;
	margin-bottom: 10px;
	padding: 10px 20px 10px 40px;
	position: relative;
}
.pub-tips > .iconfont {
	left: 25px;
	position: absolute;
	top: 10px;
}
.pub-tips p {
	clear: both;
}
.pub-tips .del {
	color: #999;
	float: right;
	font-size: 15px;
}
.pub-tips-center {
	background-color: #fff9e5;
	color: #ff7d13;
	font-size: 13px;
	padding: 10px 20px;
	text-align: center;
}
.pub-tips-center .delete {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	width: 16px;
	z-index: 10;
}
.pub-txt-alert {
	background-color: #f9f9f9;
	font-size: 15px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
.results-none {
	background-color: #efeff4;
	border: 1px dotted #c7c7cb;
	border-radius: 5px;
	color: #999;
	font-size: 15px;
	margin: 40px auto;
	padding: 10px 0;
	text-align: center;
	width: 80%;
}
* {} .pub-radio-list {
	background: #fff none repeat scroll 0 0;
}
.line-item,
.line-item li,
.pub-radio-list li,
.pub-checkbox-list li,
.pub-pop .pub-pop-list li,
.form-item {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	line-height: 41px !important;
	padding: 5px 10px 5px 15px;
	position: relative;
}
.pub-mask-input {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.ellipsis,
.pub-header .pub-page-title,
.line-list--ellipsis .line-item,
.line-item--ellipsis,
.pub-modal .pub-modal-title,
.pub-scroll-select .pub-select-list li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pub-bar-nav,
.pub-bar-tool,
.pub-tabs-nav .pub-tabs-title-list {
	background: #fff none repeat scroll 0 0;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.pub-bar-nav li,
.pub-bar-tool li,
.pub-tabs-nav .pub-tabs-title-list li {
	display: table-cell;
	font-size: 16px;
}
.line-list li {
	background-color: #fff;
	border-radius: 5px;
	font-size: 15px;
	margin-bottom: 10px;
}
.line-list li:last-child {
	margin-bottom: 0;
}
.line-list > .active::after {
	border-bottom: 2px solid #07cdd0;
	border-left: 2px solid #07cdd0;
	content: "";
	height: 6px;
	margin-top: -4px;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: rotate(-45deg) translateY(-50%);
	width: 14px;
}
.ajax-loading {
	background-color: #cacaca !important;
	border-color: transparent !important;
	box-shadow: none !important;
	color: #fff !important;
}
.btn,
.btn-primary,
.btn-gray,
.btn-white {
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
}
.btn {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	color: #07cdd0;
}
.btn:active {
	background: #e6e6e6 none repeat scroll 0 0;
}
.btn-primary {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #ff826d;
	border-color: -moz-use-text-color -moz-use-text-color #ec705c;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	box-shadow: 0 1px #e1847d;
	color: #fff;
	height: 29px;
	line-height: 29px;
}
.btn-primary:hover {
	background: #f37864 none repeat scroll 0 0;
	border-bottom-color: #da6a57;
}
.btn-primary:active {
	background: #ec705c none repeat scroll 0 0;
}
.btn-primary.full-width,
.btn-gray.full-width {
	border-bottom: 2px solid #ec705c;
	box-shadow: 0 1px #da5f55;
	display: block;
	font-size: 18px;
	font-weight: 700;
	height: 44px;
	line-height: 44px;
	margin-top: 15px;
}
.btn-gray.full-width {
	border-bottom: 2px solid #b6b6b6;
	box-shadow: 0 1px #ccc;
	display: block;
	margin-top: 15px;
}
.btn-white {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fff;
	border-color: -moz-use-text-color -moz-use-text-color #cacacf;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	box-shadow: 0 1px #cacacf;
	color: #37d1c3;
	height: 29px;
	line-height: 29px;
}
.btn-white.full-width {
	background-color: #fff;
	border-bottom: 2px solid #cacacf;
	box-shadow: 0 1px #cacacf;
	color: #37d1c3;
	font-size: 18px;
	font-weight: 700;
	height: 44px;
	line-height: 44px;
	margin-top: 15px;
}
.btn-gray {
	background-color: #cacaca;
	border-bottom: 1px solid #b6b6b6;
	color: #fff;
	height: 29px;
	line-height: 29px;
}
.disabled[class*="btn"] {
	background-color: #cacaca !important;
	border-bottom: 1px solid #b6b6b6;
	box-shadow: 0 1px #ccc;
	color: #fff !important;
	cursor: default !important;
}
.btn-link {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #07cdd0;
	border-radius: 5px;
	color: #07cdd0;
	cursor: pointer;
	display: inline-block;
	line-height: 35px;
	padding: 0 10px;
}
.btn-link2 {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ff826d;
	border-radius: 5px;
	color: #ff826d;
	cursor: pointer;
	display: inline-block;
	line-height: 35px;
	padding: 0 10px;
	text-align: center;
}
.btn-link-icon {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ff826d;
	border-radius: 5px;
	color: #ff826d;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	line-height: 35px;
	padding: 3px 10px;
	text-align: center;
}
.btn-link-icon i {
	color: #ff826d;
	font-size: 22px;
}
.full-btn {
	background: #ff826d none repeat scroll 0 0;
	border-radius: 0.05rem;
	box-shadow: 0 2px #dd6957;
	color: #fff;
	display: block;
	font-size: 0.18rem;
	height: 0.44rem;
	line-height: 0.44rem;
	text-align: center;
}
.icon-arrow::after,
.line-list--arrow .line-item::after,
.line-item--arrow::after,
.form-item.form-item--arrow::after,
.box-arrow::after {
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	box-sizing: border-box;
	content: "";
	display: inline-block;
	height: 8px;
	margin-top: -1px;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: rotate(45deg) translateY(-50%);
	vertical-align: middle;
	width: 8px;
}
html,
body {
	height: 100%;
}
html {
	font-size: 10px;
}
body {
	background-color: #efeff4;
	color: #333;
	font: 14px/1.5 Arial, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, sans-serif;
	margin: 0 auto;
	max-width: 540px;
	min-width: 320px;
	overflow: hidden;
	position: relative;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}
em,
i,
dfn {
	font-style: normal;
}
a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #333;
	text-decoration: none;
}
a:active {
	outline: 0 none;
}
a:focus {} dfn {
	font-size: 14px;
	font-style: normal;
	padding-right: 2px;
}
strong dfn {
	font-weight: 400;
}
img {
	border: 0 none;
	vertical-align: middle;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button:focus {
	outline: medium none;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0 none;
	padding: 0;
}
input {
	line-height: normal;
}
input:focus {
	outline: 0 none;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	box-sizing: border-box;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0 none;
	padding: 0;
}
textarea {
	overflow: auto;
	resize: vertical;
}
optgroup {
	font-weight: 700;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
}
input,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
	margin: 0;
}
ul,
ol,
li,
dl,
dd {
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style: outside none none;
}
h1,
h2,
h3 {
	font-weight: 400;
	line-height: 2;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
i {
	font-style: normal;
}
textarea,
input {
	outline: medium none !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #ccc;
}
.fontlt {
	text-decoration: line-through;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.fs12 {
	font-size: 12px;
}
.grayc {
	color: #ccc;
}
.font-b {
	font-weight: 700;
}
.gray9 {
	color: #999;
}
.gray6 {
	color: #666;
}
.gray3 {
	color: #333;
}
.blue {
	color: #07cdd0;
}
.p10 {
	padding: 10px;
}
.plr10 {
	padding-left: 10px;
	padding-right: 10px;
}
.plr15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.mt10 {
	margin-top: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.mlr10 {
	margin-left: 10px;
	margin-right: 10px;
}
.mlr15 {
	margin-left: 15px;
	margin-right: 15px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.sup-wrap {
	position: relative;
}
.sup-wrap .sup-num {
	background-color: #ff5d37;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	height: 12px;
	line-height: 13px;
	min-width: 12px;
	padding: 2px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -8px;
	transform: scale(0.8);
}
.sup-wrap .sup-circle {
	background-color: #ff5d37;
	border-radius: 6px;
	height: 6px;
	position: absolute;
	right: -2px;
	top: 2px;
	width: 6px;
}
.full-width {
	box-sizing: border-box;
	width: 100%;
}
.pos-s {
	position: static !important;
}
.icon-comment {
	background-position: -97px -50px;
	height: 20px;
	width: 20px;
}
.icon-sucess {
	background-position: 0 -80px;
	height: 33px;
	width: 33px;
}
.icon-loading,
.icon-loading .icon-loading-circle,
.pub-rate-view,
.pub-rate-view .icon-rate,
.icon-rate-active,
.icon-rate-gray {
	background-image: url("https://img01.lechebangstatic.com/webapp/bg-global.png");
	background-repeat: no-repeat;
	background-size: 240px auto;
	display: inline-block;
	vertical-align: middle;
}
.icon-checkbox,
.icon-radio {
	background-color: #fff;
	border: 1px solid #b8b8b8;
	border-radius: 0.02rem;
	box-sizing: border-box;
	display: inline-block;
	height: 12px;
	margin-right: 5px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	width: 12px;
}
.icon-checkbox.active,
.pub-checkbox-list .active .icon-checkbox,
.icon-radio.active,
.shop-tip-bar .icon-checkbox {
	background-image: url("https://img01.lechebangstatic.com/webapp/bg-global.png");
	background-position: -95px -108px;
	background-repeat: no-repeat;
	background-size: 240px auto;
	border: 1px solid rgba(0, 0, 0, 0);
}
.disabled .icon-checkbox.active {
	background-position: -95px -128px;
}
.icon-checkbox.disabled {
	border-color: #ccc;
}
.icon-radio {
	border-radius: 10px;
}
.icon-radio.active {
	background-position: -82px -47px;
	background-size: 140px auto;
}
.icon-switch {
	background-color: #ccc;
	border-radius: 14px;
	cursor: pointer;
	display: inline-block;
	height: 28px;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 46px;
	z-index: 1;
}
.icon-switch::before {
	background-color: #4cd964;
	border-radius: 14px;
	content: "";
	height: 28px;
	left: -46px;
	position: absolute;
	transition: left 0.2s ease 0s;
	width: 46px;
	z-index: 2;
}
.icon-switch::after {
	background-color: #fff;
	border-radius: 14px;
	content: "";
	height: 24px;
	left: 2px;
	position: absolute;
	top: 2px;
	transition: left 0.2s ease 0s;
	width: 24px;
	z-index: 3;
}
.icon-switch.active::before {
	left: 0;
}
.icon-switch.active::after {
	left: 20px;
}
.icon-arrow {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	position: relative;
	width: 30px;
}
.icon-arrow-h::after {
	border-color: -moz-use-text-color -moz-use-text-color #666 #666;
	border-style: none none solid solid;
	border-width: 0 0 2px 2px;
	content: "";
	display: inline-block;
	height: 6px;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translate(0px, -50%) rotate(-45deg);
	transition: transform 0.3s ease-in-out 0s;
	vertical-align: middle;
	width: 6px;
}
.icon-search {
	border: 2px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
	height: 14px;
	position: relative;
	width: 14px;
}
.icon-search::after {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 7px;
	left: 11px;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 2px;
}
.icon-close {
	height: 44px;
	line-height: 44px;
	width: 44px;
}
.icon-list {
	display: inline-block;
	height: 30px;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	width: 30px;
}
.icon-list::before {
	background-color: #bababa;
	border-radius: 3px;
	box-shadow: 10px 0 0 #bababa, -10px 0 0 #bababa;
	content: "";
	display: inline-block;
	height: 5px;
	vertical-align: middle;
	width: 5px;
}
.icon-plus {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	position: relative;
	width: 30px;
}
.icon-plus::before,
.icon-plus::after {
	background-color: #07cdd0;
	content: "";
	height: 2px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0px);
	width: 16px;
}
.icon-plus::after {
	height: 16px;
	width: 2px;
}
.icon-del {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #333 #333 #333 -moz-use-text-color;
	border-image: none;
	border-style: solid solid solid none;
	border-width: 1px 1px 1px medium;
	box-sizing: border-box;
	display: inline-block;
	height: 16px;
	line-height: 1;
	margin-left: 6px;
	position: relative;
	width: 16px;
}
.icon-del::before {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #333;
	border-image: none;
	border-style: solid;
	border-width: 1px 0 0 1px;
	box-sizing: border-box;
	content: "";
	height: 12px;
	left: -6px;
	position: absolute;
	top: 1px;
	transform: rotate(-45deg);
	width: 12px;
}
.icon-del .icon-close {
	height: 16px;
	position: absolute;
	top: 2px;
	width: 16px;
}
.icon-del .icon-close::before,
.icon-del .icon-close::after {
	background-color: #333;
	height: 10px;
	width: 1px;
}
.icon-input-clear {
	height: 30px;
	margin-top: -15px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 30px;
}
.icon-input-clear::before {
	background-color: #dbdbdb;
	border-radius: 10px;
	color: #fff;
	content: "";
	height: 16px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 16px;
}
.icon-input-clear .icon-cross {
	height: 30px;
	position: absolute;
	width: 30px;
}
.icon-input-clear .icon-cross::before,
.icon-input-clear .icon-cross::after {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 2px;
}
.icon-input-clear .icon-cross::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.pub-overlay7 {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
}
.pub-bar-nav {
	background-color: rgba(40, 56, 71, 1);
	color: #fff;
	font-size: 12px;
	height: 48px;
	text-align: center;
}
.pub-bar-nav li {
	cursor: pointer;
	font-size: 15px;
	opacity: 0.8;
	padding-top: 27px;
	position: relative;
}
.pub-bar-nav li .active {
	background-color: rgba(0, 0, 0, 0.15);
	color: #07cdd0;
}
.pub-bar-nav .nav-icon {
	font-size: 20px;
	height: 20px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	top: 3px;
	width: 20px;
}
.line-item .item-title {
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 4px;
}
.line-item .item-intro {
	font-size: 12px;
	line-height: 1.5;
}
.line-item .item-badge-num {
	background: #ff9a14 none repeat scroll 0 0;
	border-radius: 15px;
	color: #fff;
	float: right;
	font-size: 12px;
	line-height: 2;
	margin-top: 4px;
	padding: 0 8px;
}
.line-list--arrow .line-item,
.line-item--arrow {
	padding-right: 25px;
}
.line-item--arrow-btn {
	cursor: default;
	padding-right: 30px;
}
.line-item--arrow-btn .icon-arrow {
	position: absolute;
	right: 0;
	top: 0;
}
.line-list--arrow .line-item--arrow-no::after {
	display: none;
}
.line-list--icon .line-item {
	padding-left: 35px;
}
.line-list--icon .line-item .item-icon {
	left: 10px;
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
}
.line-list--switch .icon-switch,
.line-item--switch .icon-switch {
	position: absolute;
	right: 9px;
	top: 50%;
	transform: translate3d(0px, -50%, 0px);
}
.line-list--switch.line-item.active .icon-switch::before,
.line-item--switch.active .icon-switch::before {
	left: 0;
}
.line-list--switch.line-item.active .icon-switch::after,
.line-item--switch.active .icon-switch::after {
	left: 20px;
}
.line-list .line-divider {
	background-color: #f5f5f5;
	border-bottom: 1px solid #dbdbdb;
	font-weight: 700;
	line-height: 34px;
	padding-left: 10px;
}
.pub-radio-list li {
	color: #666;
	font-size: 15px;
	padding-right: 30px;
}
.pub-radio-list .active {
	color: #07cdd0;
}
.pub-radio-list .active::after {
	border-bottom: 2px solid #07cdd0;
	border-left: 2px solid #07cdd0;
	content: "";
	height: 6px;
	margin-top: -4px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: rotate(-45deg) translateY(-50%);
	width: 14px;
}
.pub-radio-list li em {
	display: inline-block;
	height: 33px;
	margin-right: 10px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 33px;
}
.pub-radio-list li em img {
	height: 33px;
	vertical-align: text-bottom;
}
.pub-radio-list--text-center {
	text-align: center;
}
.pub-radio-list--left li {
	padding-left: 30px;
	padding-right: 10px;
}
.pub-radio-list--left .active::after {
	left: 10px;
}
.pub-checkbox-list--right .icon-checkbox {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate3d(0px, -50%, 0px);
}
.pub-modal--toast {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	color: #fff;
	font-size: 12px;
	margin-top: -19px;
	padding: 10px 15px;
	text-align: center;
	white-space: nowrap;
	width: auto;
	z-index: 985;
}
.pub-modal--toast .icon-right {
	display: inline-block;
	margin: 5px 0 12px 5px;
}
.pub-modal--toast .icon-right::before {
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	box-sizing: border-box;
	content: "";
	display: block;
	height: 8px;
	transform: rotate(-45deg);
	width: 18px;
}
.pub-pop {
	box-sizing: border-box;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 985;
}
.pub-pop .pub-pop-bd {
	background-color: #fff;
}
.pub-pop .pub-pop-list li:first-child {
	border-top: medium none;
}
.pub-pop .pub-pop-list li:last-child {
	border-bottom: medium none;
}
.pub-pop .pub-pop-list li.active,
.pub-pop .pub-pop-list li:active {
	background-color: #07cdd0;
	color: #fff;
}
.pub-pop .pub-pop-list--checked li {
	padding-right: 30px;
}
.pub-pop .pub-pop-list--checked li.active {
	background-color: #fff;
	color: #07cdd0;
}
.pub-pop .pub-pop-list--checked li.active::after {
	border-bottom: 2px solid #07cdd0;
	border-left: 2px solid #07cdd0;
	content: "";
	height: 6px;
	margin-top: -4px;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: rotate(-45deg) translateY(-50%);
	width: 14px;
}
.pub-pop--triangle-up .icon-pop-triangle {
	top: -5px;
}
.pub-pop--border {
	border: 1px solid #dbdbdb;
}
.pub-pop--border .icon-pop-triangle {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #fff #dbdbdb #dbdbdb #fff;
	border-image: none;
	border-style: solid;
	border-width: 1px;
}
.pub-pop--border.pub-pop--triangle-up .icon-pop-triangle {
	border-color: #dbdbdb #fff #fff #dbdbdb;
}
.pub-pop--border.pub-pop--radius {
	border-radius: 6px;
}
.pub-pop--radius .pub-pop-bd {
	border-radius: 4px;
	overflow: hidden;
}
.pub-page-pop {
	background-color: #efefef;
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 985;
}
.pub-page-pop .pub-pop-bd {
	border-radius: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 50px;
}
.pub-tabs-nav {
	border-bottom: 1px solid #dbdbdb;
	line-height: 44px;
	position: relative;
}
.pub-tabs-nav .pub-tabs-title-list li {
	box-sizing: border-box;
	color: #666;
	text-align: center;
}
.pub-tabs-nav .pub-tabs-title-list li.active {
	border-bottom: 3px solid #ff8c2f;
	color: #ff8c2f;
}
.pub-tabs-nav .icon-active {
	background-color: #ff8c2f;
	bottom: -1px;
	height: 4px;
	left: 0;
	position: absolute;
	width: 50%;
}
.pub-group-list .pub-group-hd {
	background-color: #f8f8f8;
	border-bottom: 1px solid #ebebeb;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 400;
	line-height: 34px;
	padding: 0 10px 0 20px;
	position: relative;
}
.pub-group-list .pub-group-hd:nth-of-type(1) {
	border-top: 1px solid #ebebeb;
}
.pub-group-list .pub-group-bd li:first-child {
	border-top: 0 none;
}
.pub-group-list .pub-group-hd.expanded + .pub-group-bd {
	display: block;
}
.pub-group-hd.expanded2::after {
	border-bottom: 2px solid #666;
	border-left: 2px solid #666;
	content: "";
	display: inline-block;
	height: 6px;
	margin-top: 0;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0px, -50%) rotate(-135deg);
	transition: transform 0.3s ease-in-out 0s;
	vertical-align: middle;
	width: 6px;
}
.pub-rate-view {
	background-position: 0 -170px;
	height: 20px;
	width: 150px;
}
.pub-rate-view .icon-rate {
	background-position: 0 -147px;
	display: block;
	height: 20px;
	width: 100%;
}
.pub-rate-view2 {
	display: inline-block;
	height: 20px;
	overflow: hidden;
	vertical-align: middle;
	width: 150px;
}
.pub-rate-view2 input {
	background-image: url("https://img01.lechebangstatic.com/webapp/bg-global.png");
	background-position: -5px -170px;
	background-size: 240px auto;
	border: 0 none;
	float: right;
	height: 20px;
	margin: 0 9px 0 0;
	outline: 0 none;
	width: 20px;
}
.pub-rate-view2 input:checked,
.pub-rate-view2 input:checked ~ input {
	background-color: rgba(0, 0, 0, 0);
	background-position: -5px -147px;
}
.pub-slide .pub-slide-view {
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.pub-slide .pub-slide-list {
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.pub-slide .pub-slide-list .pub-slide-item {
	float: left;
	height: 100%;
	overflow: hidden;
}
.pub-slide .pub-slide-bullet {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	z-index: 99;
}
.pub-slide .pub-slide-bullet .pub-bullet-item {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	display: inline-block;
	font-size: 0;
	font-style: normal;
	height: 8px;
	margin: 2px;
	width: 8px;
}
.pub-slide .pub-slide-bullet .pub-bullet-item.active {
	background-color: rgba(255, 255, 255, 0.8);
}
.pub-slide--full-img img {
	width: 100%;
}
.pub-page-fail {
	text-align: center;
}
.pub-page-fail .pub-fail-info {
	margin: 15px 0;
}
.pub-page-fail .pub-fail-redo {
	margin-bottom: 20px;
	padding-top: 40px;
}
.pub-page-fail .pub-fail-redo .pub-fail-info {
	font-size: 16px;
}
.pub-page-fail .pub-fail-service {
	border-top: 1px solid #dbdbdb;
}
.pub-page-fail .pub-fail-redo-btn,
.pub-page-fail .pub-fail-service-btn {
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.pub-page-fail .pub-fail-redo-btn {
	background-color: #ff9a14;
	color: #fff;
}
.pub-page-fail .pub-fail-redo-btn:hover,
.pub-page-fail .pub-fail-redo-btn:active {
	background-color: #e08000;
}
.pub-page-fail .pub-fail-service-btn {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	color: #07cdd0;
}
.pub-page-fail .pub-fail-service-btn:hover,
.pub-page-fail .pub-fail-service-btn:active {
	background-color: #e6e6e6;
}
.form-item {
	line-height: 52px;
	min-height: 52px;
	padding: 0 0 0 90px;
	position: relative;
}
.form-item:active,
.form-item:hover {
	background-color: #fff;
}
.form-item .field-label {
	float: left;
	line-height: 52px;
	margin-left: -80px;
	white-space: nowrap;
	width: 80px;
}
.form-item .field-text-wrap {
	line-height: 52px;
	overflow: hidden;
}
.input-delete {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	position: absolute;
	right: 15px;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
	z-index: 10;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="month"] {
	font-family: monospace;
	overflow: hidden;
	padding: 0;
}
.form-item input[type="text"],
.form-item input[type="password"],
.form-item input[type="search"],
.form-item input[type="email"],
.form-item input[type="tel"],
.form-item input[type="url"],
.form-item input[type="date"],
.form-item input[type="month"],
.form-item input[type="datetime-local"],
.form-item input[type="time"],
.form-item input[type="number"],
.form-item select,
.form-item textarea {
	-moz-appearance: none;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: #666;
	display: block;
	font-family: inherit;
	font-size: 15px;
	height: 52px;
	margin: 0;
	padding: 0 0 0 5px;
	width: 100%;
}
.form-item input[type="date"],
.form-item input[type="time"],
.form-item input[type="month"],
.form-item input[type="datetime-local"] {
	line-height: 52px;
	padding-left: 5px;
}
.form-item select {
	-moz-appearance: none;
}
.form-item.form-item--arrow-btn {
	padding-right: 45px;
}
.form-item.form-item--arrow-btn .icon-arrow {
	position: absolute;
	right: 10px;
	top: 0;
}
.form-item.form-item--arrow {
	padding-right: 25px;
}
.form-item.form-item--no-label {
	padding-left: 10px;
	padding-right: 10px;
}
.form--no-label .form-item {
	padding-left: 0;
}
.form-block {
	background-color: #fff;
	border-radius: 4px;
	font-size: 15px;
	margin-bottom: 10px;
}
.form-block .field-text-wrap {
	padding-right: 10px;
}
.form-circle {
	border-radius: 30px;
}
.book-box .form-circle {
	padding: 0 15px;
}
.form-text {
	background-color: #fff;
	border-bottom: 1px solid #dcdce1;
	border-radius: 5px;
	font-size: 15px;
	margin-bottom: 10px;
	padding: 0;
}
.form-text .field-label {
	margin: 0 0 0 10px;
	width: auto;
}
.form-block input[type="month"] {
	opacity: 1;
}
.form-button-left {
	padding-left: 110px;
}
.form-button-left .code-btn {
	left: 10px;
	line-height: 40px;
	right: auto;
	top: 5px;
}
.form-button-left .field-text {
	text-align: right;
}
.form--no-label .form-item .field-text {
	padding-left: 10px;
	padding-right: 10px;
}
.textarea {
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	height: 80px;
	padding: 5px;
	resize: none;
	width: 100%;
}
.pub-panel,
.pub-mask-panel {
	background: #000 none repeat scroll 0 0;
	bottom: 0;
	box-sizing: border-box;
	color: #fff;
	left: 0;
	position: fixed;
	top: 0;
	transform: translate3d(-140px, 0px, 0px);
	transition: transform 0.3s ease-in-out 0s;
	width: 140px;
	z-index: 985;
}
.pub-panel.active,
.active.pub-mask-panel {
	transform: translate3d(0px, 0px, 0px);
}
.pub-page--panel-on {
	transform: translate3d(140px, 0px, 0px);
	transition: transform 0.3s ease-in-out 0s;
}
.pub-page--panel-off {
	transform: translate3d(0px, 0px, 0px);
}
.pub-mask-panel {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}
.page {
	background: #efeff4 none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 51px;
	width: 100%;
}
.page-top,
.page-bottom {
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.page-top {
	top: 0;
}
.page-bottom {
	bottom: 0;
}
.page-content {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
}
.page-content-inner {
	min-height: 100%;
}
.page-left-hide,
.page-right-hide {
	display: none;
}
@media (min-width: 451px) {
	.page-left-hide,
	.page-right-hide {
		background: #111 none repeat scroll 0 0;
		bottom: 0;
		display: block;
		position: fixed;
		top: 0;
		z-index: 999;
	}
	.page-left-hide {
		left: 0;
	}
	.page-right-hide {
		right: 0;
	}
}
.page-from-right-to-center {
	animation: 400ms ease 0s normal forwards 1 running pageFromRightToCenter;
}
.page-from-center-to-right {
	animation: 400ms ease 0s normal forwards 1 running pageFromCenterToRight;
}
@keyframes pageFromRightToCenter {
	0% {} 100% {}
}
@keyframes pageFromCenterToRight {
	0% {
		transform: translate3d(0px, 0px, 0px);
	}
	100% {
		transform: translate3d(100%, 0px, 0px);
	}
}
.page-from-center-to-left {
	animation: 400ms ease 0s normal forwards 1 running pageFromCenterToLeft;
}
.page-from-left-to-center {
	animation: 400ms ease 0s normal forwards 1 running pageFromLeftToCenter;
}
@keyframes pageFromCenterToLeft {
	0% {} 100% {}
}
@keyframes pageFromLeftToCenter {
	0% {} 100% {}
}
.pub-price {
	color: #ff7d13;
	font-size: 16px;
}
.pub-price dfn {
	font-style: normal;
}
.pub-price-normal {
	color: #333;
	font-size: 16px;
}
.pub-price-normal dfn {
	font-style: normal;
}
.pub-txt-warning {
	color: #ff6a51;
}
.score {
	font-size: 18px;
	vertical-align: middle;
}
.score i {
	font-size: 12px;
	margin-left: 3px;
	vertical-align: 2px;
}
.icon-wifi,
.icon-camera {
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}
.icon-wifi {
	background: rgba(0, 0, 0, 0) url("https://img01.lechebangstatic.com/webapp/icon-wifi.png") no-repeat scroll center center / 100% 100%;
}
.icon-camera {
	background: rgba(0, 0, 0, 0) url("https://img01.lechebangstatic.com/webapp/icon-camera.png") no-repeat scroll center center / 100% 100%;
}
.pub-sider-down {
	border-bottom: 1px solid #ebebeb;
	font-size: 12px;
	line-height: 36px;
	padding-left: 10px;
	position: relative;
}
.pub-sider-down::after {
	border-bottom: 2px solid #666;
	border-left: 2px solid #666;
	content: "";
	display: inline-block;
	height: 6px;
	margin-left: 5px;
	position: absolute;
	right: 20px;
	top: 10px;
	transform: rotate(-45deg);
	transition: all 0.3s ease-in-out 0s;
	vertical-align: middle;
	width: 6px;
}
.pub-sider-up {
	border-bottom: 1px solid #ebebeb;
	font-size: 12px;
	line-height: 36px;
	padding-left: 10px;
	position: relative;
}
.pub-sider-up::after {
	border-bottom: 2px solid #666;
	border-left: 2px solid #666;
	content: "";
	display: inline-block;
	height: 6px;
	margin-left: 5px;
	position: absolute;
	right: 20px;
	top: 18px;
	transform: rotate(-225deg);
	transition: all 0.3s ease-in-out 0s;
	vertical-align: middle;
	width: 6px;
}
.line-lists .item,
.line-lists-icon .item,
.line-lists-arrow .item {
	border-color: #ddd;
	border-image: url("ddata:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 2 2 2;
	border-style: solid;
	border-width: 0 0 1px;
	line-height: 1.5;
	padding: 8px 10px;
	position: relative;
}
.line-lists-icon .item i {
	color: #ccc;
	left: 14px;
	position: absolute;
}
.line-lists-icon .item {
	padding-left: 30px;
}
.line-lists-arrow .item {
	padding-right: 25px;
}
.line-lists-icon .item {
	position: relative;
}
.line-lists-arrow .item::after {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	content: "";
	height: 6px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0px, -50%) rotate(-135deg);
	width: 6px;
}
.line-lists-noborder .item {
	border: 0 none;
	line-height: 1.2;
	padding-bottom: 4px;
	padding-top: 4px;
}
.bg-white {
	background: #fff none repeat scroll 0 0;
}
.line-lists-arrow .range {
	white-space: nowrap;
}
.car-info-box {
	background: #fff none repeat scroll 0 0;
	border-color: #ddd;
	border-image: url("ddata:image/gif;base64,R0lGODlhBQAFAIABAN3d3f///yH5BAEAAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7") 2 2 2 2;
	border-style: solid;
	border-width: 0 0 1px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}
.car-info {
	display: table;
	text-align: left;
	width: 100%;
}
.car-info .brand {
	display: table-cell;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	width: 55px;
}
.car-info .brand .gray9 {
	font-size: 12px;
}
.car-info .brand img {
	height: 40px;
}
.car-info .info {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}
.car-info .info .iconfont {
	color: #666;
}
.car-info-box .edit2 {
	color: #ff826d;
}
.pub-arrow {
	padding-right: 25px;
	position: relative;
}
.pub-arrow::after {
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	box-sizing: border-box;
	content: "";
	display: inline-block;
	height: 8px;
	margin-top: -1px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: rotate(45deg) translateY(-50%);
	vertical-align: middle;
	width: 8px;
}
.pop-plan-list {
	background-color: #fff;
	border-radius: 5px;
	width: 80%;
}
.pop-plan-list h3 {
	font-size: 15px;
	line-height: 44px;
	text-align: center;
}
.pop-plan-item li {
	font-size: 12px;
	padding: 6px 100px 6px 5px;
	position: relative;
	text-align: left;
}
.pop-plan-item .pub-price {
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
}
.pop-plan-item li::after {
	background: rgba(0, 0, 0, 0) url("https://img01.lechebangstatic.com/webapp/bg-global.png") no-repeat scroll -115px -80px / 240px auto;
	border: 0 none;
	content: "";
	display: inline-block;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
	width: 20px;
}
.pop-plan-item li.active::after {
	background-position: -139px -80px;
}
.pop-plan-item .txt {
	color: #999;
	font-size: 13px;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
}
.pop-plan-item li.disabled,
.pop-plan-item li.disabled .pub-price {
	color: #ccc;
}
.timeline-checkbox-box {
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	display: none;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
}
.timeline-checkbox-box ul {
	padding: 0 5px 10px;
}
.timeline-checkbox-box li {
	border-bottom: 0 none;
	float: left;
	line-height: 1.8;
	overflow: hidden;
	width: 50%;
}
.form-block.expanded {
	border-bottom: 0 none;
	border-radius: 5px 5px 0 0;
}
.form-block.expanded + .timeline-checkbox-box {
	display: block;
	margin-top: -10px;
	padding-bottom: 10px;
}
.form-block.expanded .icon-arrow-h::after {
	border-color: -moz-use-text-color -moz-use-text-color #666 #666;
	border-style: none none solid solid;
	border-width: 0 0 2px 2px;
	content: "";
	display: inline-block;
	height: 6px;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translate(0px, -50%) rotate(-225deg);
	transition: transform 0.3s ease-in-out 0s;
	vertical-align: middle;
	width: 6px;
}
.shop-book-in {
	width: 100%;
}
.shop-book-in .shop-booking {
	padding-top: 20px;
}
.shop-book-in .shop-booking:first-of-type {
	padding-top: 10px;
}
.shop-price-title {
	background: #f9f9f9 none repeat scroll 0 0;
	color: #999;
	font-size: 13px;
	line-height: 30px;
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
}
.shop-price-title .price {
	font-size: 15px;
}
.shop-price-title dfn {
	font-size: 12px;
}
.shop-tip-bar {
	background: #fff9e5 none repeat scroll 0 0;
	border-bottom: 1px solid #edd0c6;
	color: #ff7d13;
	font-size: 13px;
	line-height: 32px;
	text-align: center;
}
.shop-tip-bar .price {
	font-size: 15px;
}
.shop-tip-bar dfn {
	font-size: 12px;
}
.shop-tip-bar .active .icon-checkbox {
	background-position: -72px -108px;
	margin: 0 3px 0 10px;
}
.shop-price-top {
	background: #fffcf1 none repeat scroll 0 0;
	color: #666;
	font-size: 13px;
	line-height: 30px;
	margin: 10px 0 0;
	text-align: center;
}
.shop-price-top .price {
	font-size: 15px;
}
.shop-price-top .price dfn {
	font-size: 12px;
}
.shop-booking {
	overflow: hidden;
	width: 100%;
}
.shop-booking > div {
	float: left;
	line-height: 32px;
}
.shop-booking .time {
	color: #666;
	font-size: 16px;
	white-space: nowrap;
	width: 30%;
}
.shop-booking .price {
	box-sizing: border-box;
	font-size: 20px;
	padding-right: 30px;
	position: relative;
	text-align: right;
	white-space: nowrap;
	width: 35%;
}
.shop-booking .price .txt-sales {
	position: absolute;
	right: 7px;
	top: 8px;
}
.shop-booking .pub-price {
	font-family: "Hiragino Sans GB", "Microsoft YaHei", hei, Arial, "Lucida Grande", Verdana;
	font-size: 20px;
	font-weight: 400;
}
.shop-booking .pub-price dfn {
	font-size: 16px;
}
.shop-booking .status {
	width: 15%;
}
.shop-booking .limit {
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	color: #333;
	font-size: 12px;
	margin-top: 3px;
	padding: 1px 2px;
	white-space: nowrap;
}
.shop-booking .book {
	position: relative;
	text-align: right;
	width: 20%;
}
.comment-rate {
	padding-left: 10px;
	vertical-align: middle;
}
.comment-rate li {
	padding: 5px 0;
	text-align: center;
}
.comment-rate li span {
	color: #07cdd0;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	width: 3em;
}
.comment-add .comment-rate {
	border-left: 0 none;
}
.comment-content {
	padding-left: 10px;
	padding-right: 10px;
}
.comment-item {
	background-color: #fff;
	border-bottom: 1px solid #dcdce1;
	border-radius: 5px;
	color: #999;
	font-size: 13px;
	margin-bottom: 10px;
	padding: 5px 18px;
}
.comment-item .num {
	color: #07cdd0;
	font-size: 15px;
}
.comment-item .fr {
	color: #999;
	font-size: 13px;
	text-align: right;
	width: 9em;
}
.comment-item .content {
	clear: both;
	padding-top: 5px;
}
.comment-rate-list .pub-rate-view {
	margin-left: 10px;
}
.footer-tel {
	background-color: #fbfbfb;
	border-top: 1px solid #ebebeb;
	font-size: 15px;
	text-align: center;
}
.footer-tel a {
	color: #666;
	display: block;
	height: 50px;
	line-height: 50px;
}
.footer-tel i {
	color: #07cdd0;
	font-size: 20px;
	vertical-align: middle;
}
.form-item.km {
	padding-right: 2.5em;
}
.form-item.km::after {
	content: "公里";
	line-height: 52px;
	position: absolute;
	right: 15px;
	top: 0;
	white-space: nowrap;
	width: 2em;
}
.comment-top,
.pay-success-box,
.book-detail,
.book2-top,
.order-detail-top,
.order-detail-box,
.order-follow-top,
.order-follow-box,
.comment-submit-top {
	position: relative;
}
.sel_list .pub-radio-list li::before,
.comment-top::before,
.pay-success-box::before,
.book-detail::before,
.book2-top::before,
.order-detail-top::before,
.order-detail-box::before,
.order-follow-top::before,
.order-follow-box::before,
.comment-submit-top::before {
	border-bottom: 1px solid #dcdce1;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
}
.pub-loading {
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	border-radius: 10px;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	left: 50%;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate3d(-50%, -50%, 0px);
	z-index: 985;
}
.icon-loading {
	background-position: -39px 0;
	height: 38px;
	position: relative;
	width: 38px;
}
.icon-loading .icon-loading-circle {
	animation: 0.8s linear 0s normal none infinite running loading;
	height: 38px;
	left: 0;
	position: absolute;
	right: 0;
	width: 38px;
}
.pub-overlay-loading {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.ui-share-header {
	color: #6f6f6f;
	line-height: 1.8;
	padding: 0.15rem 0;
	text-align: center;
}
.ui-share-body {
	color: #6f6f6f;
	font-size: 15px;
}
.ui-share-item {
	color: #fff;
	text-align: center;
}
.ui-share-item p {
	color: #6f6f6f;
	padding: 0.08rem 0 0;
}
.ui-share-cancel {
	border-top: 1px solid #d5d5d5;
	color: #999;
	font-size: 0.18rem;
	margin: 0.15rem 0.1rem;
	padding-top: 15px;
	text-align: center;
}
.ui-share-bg {
	border-radius: 0.1rem;
	display: inline-block;
	height: 0.56rem;
	line-height: 0.56rem;
	width: 0.56rem;
}
.ui-share-weixin {
	background-color: #33d249;
	font-size: 0.36rem;
}
.ui-share-quan {
	background-color: #33d249;
	font-size: 0.33rem;
}
.ui-share-weibo {
	background: #ff8417 none repeat scroll 0 0;
	font-size: 0.4rem;
}
.ui-share-qq {
	background: #57aaf2 none repeat scroll 0 0;
	font-size: 0.35rem;
}
.ui-share-qrcode {
	background: #f87d15 none repeat scroll 0 0;
	font-size: 0.35rem;
}
.pub-modal .pub-modal-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pub-modal {
	background-color: #fff;
	border-radius: 4px;
	box-sizing: border-box;
	left: 50%;
	margin-left: -150px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	width: 300px;
	z-index: 985;
}
.pub-modal .pub-modal-hd {
	background-color: #07cdd0;
	border-radius: 4px 4px 0 0;
	color: #fff;
	height: 44px;
	line-height: 44px;
}
.pub-modal .pub-modal-title {
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 700;
	line-height: 44px;
	padding-left: 10px;
	padding-right: 44px;
}
.pub-modal .pub-modal-hd--center {
	text-align: center;
}
.pub-modal .pub-modal-hd--center .pub-modal-title {
	padding-right: 10px;
}
.pub-modal .pub-modal-hd--tint {
	background-color: #fff;
	color: #333;
}
.pub-modal .pub-modal-hd--tint .icon-close {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	height: 30px;
	line-height: 30px;
	right: 5px;
	top: 7px;
	width: 30px;
}
.pub-modal .pub-modal-bd {
	overflow-y: auto;
	position: relative;
}
.pub-modal .pub-modal-ft {
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	height: 44px;
	line-height: 44px;
}
.pub-modal .pub-modal-ft.pub-actions {
	border-top: 0 none;
}
.pub-modal .pub-checkbox-list li:first-child,
.pub-modal .pub-radio-list li:first-child {
	border-top: 0 none;
}
.pub-modal .pub-checkbox-list li:last-child,
.pub-modal .pub-radio-list li:last-child {
	border-bottom: 0 none;
}
.pub-modal--action {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
	bottom: 0;
	padding-top: 0;
	top: auto;
}
.pub-modal--action .pub-actions {
	background-color: #fff;
	border-radius: 4px;
	border-top: 0 none;
	margin-bottom: 10px;
	overflow: hidden;
}
.pub-modal--alert {
	color: #666;
	font-size: 13px;
	margin-left: -140px;
	padding-top: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 280px;
}
.pub-modal--alert .pub-modal-bd {
	padding: 0 14px;
	text-align: center;
}
.pub-modal--alert .pub-modal-bd .pub-alert-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.pub-modal--alert .pub-modal-bd .pub-mutil-lines {
	padding: 12px 0;
	text-align: left;
}
.pub-modal--alert .pub-modal-bd .pub-alert-title + .pub-mutil-lines {
	padding-top: 0;
}
.pub-actions {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.pub-actions .pub-actions-btn {
	border-left: 1px solid #e1e1e1;
	border-top: 1px solid #dbdbde;
	box-sizing: border-box;
	color: #ff7d13;
	cursor: pointer;
	display: table-cell;
	font-size: 15px;
	height: 44px;
	line-height: 44px;
	text-align: center;
}
.pub-actions .pub-actions-btn:first-child {
	border-left: medium none;
}
.pub-actions .pub-actions-btn:active {
	background: #f0fcff none repeat scroll 0 0;
}
.pop-input-box {
	text-align: center;
}
.pop-input-box input {
	border: 1px solid #dbdbde;
	padding: 5px;
}
.pub-overlay-alert {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 302;
}
.pub-modal--hint {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	left: 50%;
	max-width: 80%;
	overflow: hidden;
	padding: 10px 15px;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	z-index: 985;
}
.pub-modal--screen {
	color: #fff;
	font-size: 13px;
	height: 100%;
	line-height: 2;
	margin-left: 5%;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 90%;
	z-index: 950;
}
.pub-modal--screen h3 {
	font-size: 16px;
	line-height: 44px;
	text-align: center;
}
.pub-overlay-screen {
	background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}
.pub-modal--content {
	padding-bottom: 20px;
}
.pub-modal--screen ol {
	list-style-type: decimal;
	margin-left: 25px;
	padding: 0;
}
.pub-modal--screen ol ol {
	list-style-type: lower-alpha;
}
#crumbs {
	background-color: #fff;
	border-bottom: 1px solid #dcdce1;
	padding: 10px;
	text-align: center;
}
#crumbs ul {
	display: inline-table;
	list-style: outside none none;
	width: 100%;
}
#crumbs ul li {
	background: #efefef none repeat scroll 0 0;
	box-sizing: border-box;
	color: #999;
	float: left;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	margin-right: 1%;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 24%;
}
#crumbs ul li::after {
	border-bottom: 15px solid rgba(0, 0, 0, 0);
	border-left: 10px solid #efefef;
	border-top: 15px solid rgba(0, 0, 0, 0);
	content: "";
	position: absolute;
	right: -10px;
	top: 0;
	z-index: 1;
}
#crumbs ul li::before {
	border-bottom: 15px solid rgba(0, 0, 0, 0);
	border-left: 10px solid #fff;
	border-top: 15px solid rgba(0, 0, 0, 0);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
}
#crumbs ul li:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
#crumbs ul li:first-child::before {
	display: none;
}
#crumbs ul li:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
#crumbs ul li:last-child::after {
	display: none;
}
#crumbs ul li.active {
	background: #5fdfde none repeat scroll 0 0;
	color: #fff;
}
#crumbs ul li.active::after {
	border-left-color: #5fdfde;
}
.vin-main {
	padding: 10px 10px 0;
}
.vin-main h3 {
	color: #666;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.vin-main h3 .r {
	color: #07cdd0;
	position: absolute;
	right: 0;
}
.vin-result {
	margin-bottom: 10px;
	padding-right: 60px;
	position: relative;
}
.vin-result .form-item {
	padding-left: 70px;
	padding-right: 0;
}
.vin-result .form-item .field-label {
	margin-left: -60px;
	width: 60px;
}
.vin-result .form-item input {
	font-size: 14px;
}
.vin-result .refresh {
	background-color: #fff;
	border: 1px solid #07cdd0;
	border-radius: 4px;
	color: #07cdd0;
	font-size: 15px;
	height: 51px;
	line-height: 51px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 51px;
}
.vin-car-item {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}
.vin-car-item li {
	font-size: 13px;
	margin-bottom: 10px;
	padding-right: 50px;
	position: relative;
}
.vin-car-item li::after {
	background: rgba(0, 0, 0, 0) url("https://img01.lechebangstatic.com/webapp/bg-global.png") no-repeat scroll -115px -80px / 240px auto;
	border: 0 none;
	content: "";
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
	width: 20px;
}
.vin-car-item li.active::after,
.vin-car-item li[data-status="active"]::after {
	background-position: -139px -80px;
}
.vin-car-item li:last-child {
	margin-bottom: 0;
}
.vin-car-item .del,
.vin-car-item li[data-status="del"] {
	text-decoration: line-through;
}
.vin-check-box {
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 5px 10px;
}
.vin-check-box.sst li {
	color: #c2c2c2;
}
.vin-check-box ul {
	overflow: hidden;
}
.vin-check-box li {
	float: left;
	padding: 5px;
}
.vin-check-box li .icon-checkbox {
	background-image: url("https://img01.lechebangstatic.com/webapp/bg-global.png");
	background-position: -95px -128px;
	background-repeat: no-repeat;
	background-size: 240px auto;
	border: 1px solid rgba(0, 0, 0, 0);
}
.vin-check-box li span {
	color: #c2c2c2;
}
.vin-check-box li span.active {
	color: #333;
}
.vin-check-box .active .icon-checkbox {
	background-image: url("https://img01.lechebangstatic.com/webapp/bg-global.png");
	background-position: -95px -108px !important;
	background-repeat: no-repeat;
	background-size: 240px auto;
	border: 1px solid rgba(0, 0, 0, 0);
}
.vin-check-box li[data-status="del"] {
	color: #ccc;
}
.vin-check-box li span {
	padding-right: 5px;
}
.error-box {
	color: #666;
	font-size: 13px;
	margin-bottom: 20px;
	text-align: center;
}
.error-box .icon-box {
	color: #999;
	font-size: 60px;
}
.vin-result-car .form-item {
	padding-left: 10px;
}
.vin-result-car .form-item .field-text-wrap {
	line-height: 21px;
	padding: 15px 35px 15px 0;
}
.vin-result-car.active .form-item .field-text-wrap::after {
	background: rgba(0, 0, 0, 0) url("https://img01.lechebangstatic.com/webapp/bg-global.png") no-repeat scroll -139px -80px / 240px auto;
	border: 0 none;
	content: "";
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
	width: 20px;
}
.flex-wrap {
	display: flex;
}
.flex {
	-moz-box-flex: 1;
	flex: 1 1 0;
	width: 100%;
}
.pub-header {
	background-color: #f5f5f9;
	height: 51px;
}
.icon-back {
	border-left: 2px solid #666;
	border-top: 2px solid #666;
	display: inline-block;
	height: 10px;
	left: 20px;
	position: relative;
	top: 2px;
	transform: rotate(-45deg);
	width: 10px;
}
.header-inner {
	background-color: #f5f5f9;
	border-bottom: 1px solid #dbdbdb;
	height: 51px;
	line-height: 51px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 400;
}
.header-left {
	float: left;
	height: 50px;
	width: 60px;
}
.pub-page-title {
	font-size: 18px;
	height: 50px;
	left: 60px;
	line-height: 50px;
	position: absolute;
	right: 60px;
	text-align: center;
	top: 0;
	z-index: -1;
}
.header-right {
	color: #666;
	float: right;
	font-size: 14px;
}
.header-item-right {
	display: block;
	float: left;
	padding-right: 15px;
}
.header-item-right .iconfont {
	font-size: 20px;
}
.fixHead .pub-header {
	height: 71px;
}
.fixHead .header-inner {
	padding-top: 20px;
}
.fixHead .page {
	top: 71px;
}
.fixHead .pub-page-title {
	top: 20px;
}
.gray-icon {
	color: #666;
}
.pub-header .header-city {
	color: #333;
	float: left;
	font-size: 15px;
	padding: 0 10px;
	position: relative;
}
.pub-header .header-city::after {
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	box-sizing: border-box;
	content: "";
	height: 8px;
	position: absolute;
	right: -5px;
	top: 20px;
	transform: rotate(-225deg);
	width: 8px;
}
.pub-scroll-select-box {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 980;
}
.pub-scroll-select {
	font-size: 16px;
	height: 210px;
	overflow: hidden;
}
.pub-scroll-select-group {
	width: 100%;
}
.pub-select-item {
	color: #999;
	height: 42px;
	line-height: 42px;
	text-align: center;
}
.pub-select-item.active {
	color: #333;
	font-size: 20px;
	font-weight: 700;
}
.scroll-select-line {
	background: #e1e1e1 none repeat scroll 0 0;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 134px;
}
.pub-select-mask {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0px, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 60%, #fff 100%) repeat scroll 0 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 51px;
}
.pub-scroll-select-tips {
	text-align: center;
}
.pub-scroll-select-header h3 {
	border-bottom: 1px solid #e1e1e1;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
}
.pub-scroll-select-header span {
	color: #ff7d13;
	font-weight: 700;
	padding: 15px;
}
.pub-overlay-scroll {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 200;
}
.in-nav-wrap {
	background: #fff none repeat scroll 0 0;
	height: 0.57rem;
}
.in-nav {
	color: #858585;
	text-align: center;
}
.in-nav .iconfont {
	font-size: 0.24rem;
}
.in-nav.active {
	color: #41d3c3;
}
.in-nav .font-s {
	margin-top: -0.03rem;
}
.in-icon {
	background-image: url("https://img01.lechebangstatic.com/webapp/index/module.png");
	background-size: 1rem 1rem;
	height: 0.5rem;
	margin: 0 auto;
	position: relative;
	top: 0.1rem;
	width: 0.5rem;
}
.zhiliao-icon {
	background-image: url("https://img01.lechebangstatic.com/webapp/index/chezhiliao.png");
	background-size: 72px 72px;
	display: inline-block;
	height: 36px;
	margin-left: 50px;
	margin-right: 10px;
	vertical-align: middle;
	width: 36px;
}
.clearfix::after {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
}
.user-center-banner {
	background: rgba(0, 0, 0, 0) url("https://img01.lechebangstatic.com/webapp/bg-user-new.jpg") repeat scroll 0 0 / 100% 100%;
	box-sizing: padding-box;
	display: table;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.brand-guide {
	bottom: 0;
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
.brand-guide .char-selected {
	background-color: #191818;
	color: #fff;
	font-size: 25px;
	height: 50px;
	left: 50%;
	line-height: 50px;
	opacity: 0;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 50px;
}
.brand-guide .char-selected-show {} .brand-guide .brand-guide-wrape {
	display: block;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.brand-guide li {
	color: #8a8a88;
	font-size: 0.15rem;
	margin: auto;
	max-height: 0.22rem;
	padding: 0 0.05rem 0.03rem 0;
	position: relative;
	text-align: center;
	width: 0.22rem;
}
.brand-guide-wrape li::before {
	content: attr(data-value);
}
@media (max-height: 480px) {
	.brand-guide-wrape li::before {
		content: attr(data-value);
		font-size: 12px;
	}
	.brand-guide li {
		color: #8a8a88;
		font-size: 12px;
		margin: auto;
		max-height: 16px;
		padding: 0 0.06rem 0.03rem 0;
		position: relative;
		text-align: center;
		width: 0.22rem;
	}
}
.user-coupon li {
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0.05rem;
	box-sizing: border-box;
	color: #999;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 125px;
	padding-top: 10px;
	position: relative;
	vertical-align: middle;
	width: 100%;
}
.in-icon {
	background-image: url("https://img01.lechebangstatic.com/webapp/index/module2.png");
	background-size: 1.57rem 1.02rem;
	height: 0.5rem;
	margin: 0 auto;
	position: relative;
	top: 0.03rem;
	width: 0.5rem;
}
.index-hline-middle {
	background: rgba(0, 0, 0, 0) url("https://img01.lechebangstatic.com/webapp/index/line.png") no-repeat scroll 0 0 / 100% auto;
	height: 0.21rem;
	position: relative;
	top: -0.7rem;
}
.index-hline-disable {
	background: rgba(0, 0, 0, 0) url("https://img01.lechebangstatic.com/webapp/index/line-gray1.png") no-repeat scroll 0 0 / 100% auto;
	height: 0.21rem;
	position: relative;
	top: -0.5rem;
}
.phtoto-choose-box {
	background-color: #7d7d7d;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1001;
}
.photo-choose-wrap {
	background: #eaebec none repeat scroll 0 0;
	border-radius: 4px;
	color: #5093ef;
	font-size: 17px;
	margin: 0 5px 8px;
	text-align: center;
}
.photo-choose-wrap div {
	background-color: #fff;
	border-radius: 4px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0;
	position: relative;
	text-align: center;
}
.photo-choose-wrap button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
}
.photo-choose-wrap .photo-choose-item {
	border-radius: 5px;
}
.photo-choose-wrap input[type="file"] {
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 3;
}
.footer-slide {
	background: #fff none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 501;
}
.carnumber-wrap {
	margin-bottom: 0.1rem;
}
.carnumber-wrap:last-child {
	margin-bottom: 0;
}
.carnumber-item.active {
	background: #a7a7a7 none repeat scroll 0 0;
	border-color: #7f7f80;
}
.carnumber-item {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #b8babb;
	border-radius: 0.04rem;
	height: 0.46rem;
	line-height: 0.46rem;
	margin-right: 0.1rem;
	text-align: center;
	width: 0.36rem;
}